<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Pantry</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1>Welcome to my Pantry</h1>


  <a href="/user/<%= user._id %>/foods/new">Add New Item</a>

  <% if (!pantry || pantry.length === 0) { %>
    <p>There are no items in this pantry.</p>
  <% } else { %>
    <ul>
      <% pantry.forEach(item => { %>
        <li>
          <%= item.name %>

          
          <a href="/user/<%= user._id %>/foods/<%= item._id %>/edit">Edit</a>

         
          <form
            action="/user/<%= user._id %>/foods/<%= item._id %>?_method=DELETE"
            method="POST"
            style="display:inline;"
          >
            <button type="submit">Delete</button>
          </form>
        </li>
      <% }) %>
    </ul>
  <% } %>
</body>
</html>

